<!DOCTYPE html>
<html>
  <head>
    <title>Duo Authentication</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body style="text-align: center;">
    <h1>Duo Authentication</h1>

     <div>
       <script type="text/javascript" src="$contextPath/download/resources/com.duosecurity.confluence.plugins.duo-twofactor:resources/Duo-Web-v2.js"></script>
       <script type="text/javascript">
         Duo.init({
           'host': "$duoHost",
           'sig_request': "$sigRequest",
           'post_action': "$actionUrl"
         });
       </script>
       <iframe id="duo_iframe" frameborder="0"></iframe>
       <style type="text/css">
          #duo_iframe {
            width: 100%;
            min-width: 304px;
            max-width: 620px;
            height: 330px;
          }
        </style>
     </div>

  </body>
</html>
