<html>
  <head>
    <title>Duo Authentication</title>
  </head>

  <body>
    <h1>Duo Authentication</h1>

     <div>
       <script src="/download/resources/com.duosecurity.confluence.plugins.duo-twofactor:resources/Duo-Web-v1.bundled.js"></script>
       <script>
         Duo.init({
           'host': "$duoHost",
           'sig_request': "$sigRequest",
           'post_action': "$actionUrl"
         });
       </script>
       <iframe height="100%" width="100%" id="duo_iframe" />
     </div>

  </body>
</html>
